# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.maven.metadata.xml
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
*.iml
*.iws
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
local.properties
.attach_pid*

# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
out/
*.so
*.dylib
*.dll

# Spring Boot
application-*.properties
application-*.yml
*.jks
*.p12
.spring-boot-devtools.properties
.spring-devtools.properties

# Environment
.env
.env.local
.env.*.local

# OS
Thumbs.db
.DS_Store

influxdb_data/*
